.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: rem(80);
  gap: rem(48);
  margin-bottom: rem(80);

  @include responsive(T) {
    margin-top: rem(160);
  }

  @include responsive(D) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 rem(32);
  }

  &__logo {
    @include bg("logo-footer.svg", left);
    width: rem(175);
    height: rem(36);
    background-size: contain;
  }

  &__gnb {
    display: flex;

    &-item {
      @include b4;
      padding: 0 rem(16);
      cursor: pointer;

      &:hover {
        color: $orange;
      }

      @include responsive(T) {
        @include b2;
        padding: 0 rem(24);
      }
    }
  }

  &__icons {
    display: flex;
    gap: rem(8);

    a {
      display: block;
      width: rem(32);
      height: rem(32);
      border-radius: 100%;
      border: 1px solid $orange;
      transition: 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--facebook {
      @include bg("ico_facebook.svg", center);
    }
    &--twitter {
      @include bg("ico_twitter.svg", center);
    }
    &--instagram {
      @include bg("ico_instagram.svg", center);
    }
  }
}
