$black06: #060606;
$black: #000;
$white: #fff;
$red: #ff3d45;
$grey83: #838a93;
$grey06: #060606;
$greya5: #a5acb8;
$greye5: #e5e8f0;
$grey55: #555d67;
$grey1e: #1e2530;
$greyd6: #d6d9e1;
$greyf1: #f1f3f7;
$greyf4: #f4f5fb;
$greyf6: #f6f6f6;
$purple: #bb6bd9;
$skyblue: #56ccf2;

// 이미지 경로
$imgurl: "../images/";

// 뱃지 정의
// 클래스명, 모서리, 패딩, 높이, 폰트크기, 색상, 선색상, 배경색
$badgeSetting: //
  "black" 3 4 20 13 $white $grey1e $grey1e,
  "black2" 20 8 20 13 $white $grey1e $grey1e,
  "purple" 20 8 20 13 $white $purple $purple,
  "skyblue" 3 0 20 13 $white $skyblue $skyblue,
  "white" 20 8 20 11 $grey1e $greyd6 $white,
  "grey" 4 3 18 11 $grey1e $greye5 $greye5;

// 뱃지 정의
// 클래스명, 모서리, 패딩, 높이, 폰트크기, 색상, 선색상, 배경색
$buttonSetting: //
  "black" 47 19 47 15 $white $grey1e $grey1e,
  "white" 47 19 47 15 $grey1e $greyd6 $white;
